@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #e2adf2;
  --color-secondary: #654597;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
  
  * {
    @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-primary focus-visible:ring-offset-2;
  }
}

@layer components {
  .container {
    @apply max-w-7xl;
  }
}
